.swp
*.log
vim/.netrwhist
vim/plugged
vim/autoload/plug.vim.old

**/doc/tags

config/hub
config/gh
config/iterm2
config/configstore
config/gtk-2.0

# User level node modules
node_modules
package-lock.json

# any Compile Zsh Word Code files
*.zwc

# Compiled vim spell files
/vim/spell/*
!/vim/spell/*.add
